<div id="report">
        R E P O R T
    </div>
    <div id="line">
        Raise your voice!
    </div>
    <center>
            <form action="/report">
                <div class="imgcontainer">
                    <center><img src="notepad.png" alt="Avatar" class="avatar"></center>
                </div>
                <div class="container">
                    <label for="option"><b>Issue:</b></label>&emsp;&emsp;&emsp;&emsp;
                    <select>
                        <option>Dowry</option>
                        <option>Domestic Violence</option>
                        <option>Female Foeticide</option>
                        <option>Robbery and Snatching</option>
                        <option>Harassment at Workplace</option>
                        <option>Eve-teasing</option>
                        <option>Child Abuse</option>
                        <option selected>Other</option>
                    </select>
                    <br>
                    
                    <label><b>Description:</b></label> &emsp;
                    <input type="text" id="des" placeholder="Tell us about your problems and we'll convey them to the authorities" required>
                    <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    <button type="submit">Submit</button>
                </div>
            </form>
        </center>